:root{
    --default-background: rgba(255, 255, 255, 0.2);
    --box-shadow: rgba(0, 0, 0, 0.1);
    --search-bar: azure;
    --default-search-btn: rgb(49, 49, 49);
    --active-search-btn: rgb(119, 201, 242);
    --white: white;
    --font: "Poppins", sans-serif;
    --font-size: 16px;
}

/*STYLE*/
.glass-effect{
    background: var(--default-background); 
    box-shadow: 0 4px 8px var(--box-shadow); 
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px);
    border: 1px solid var(--default-background);
}

.main-cards-default-features{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    width: 500px;
    box-sizing: border-box;
    margin-top: 20px;
}

/*BODY*/
body{
    font-family: var(--font);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/image.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

main{
    width: 500px;
    padding: 30px;
}

footer{
    color: var(--white);
    font-size: 14px;
    display: flex;
    gap: 8px;
}

.card{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

header h1{
    color: var(--white);
    font-size: 50px;
}

/*MOBILE*/
@media (max-width: 768px) {

    body{
        padding: 16px;
        padding-top: 30px;
        box-sizing: border-box;
    }

    .main-cards-default-features{
        width: 100%;
    }

    .card {
        flex-direction: column;
    }
}

/*SEARCH*/
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 44px;
    overflow: hidden;
    border-radius: 4px;
}

#namePokemon{
    background-color: var(--search-bar);
    width: 100%;
    border: none;
    padding: 20px;
    font-family: var(--font);
    font-size: var(--font-size);
    border-radius: 4px 0px 0px 4px;
}

.searchBtn{
    border: none;
    color: var(--white);
    background-color: var(--default-search-btn);
    font-family: var(--font);
    font-size: var(--font-size);
    border-radius: 0px 4px 4px 0px;
    transition: background-color 0.3s, color 0.3s;
}

.searchBtn:hover{
    color: var(--default-search-btn);
    background-color:var(--white);
    border: 1px solid var(--default-search-btn);
}

.searchBtn:active{
    color: var(--white);
    background-color: var(--active-search-btn);
    border: 1px solid var(--active-search-btn);
}

/*PICTURES*/
.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pictures img{
    width: 100%;
    height: auto;
}

/*INFOS*/

.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: center;
}

.infos p{
    font-size: var(--font-size);
    font-weight: 600;
    padding: 5px 10px;
    margin: 8px;
    width: 100%;
    align-self: flex-end;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: default;
}

.infos p:hover {
    transform: translateY(-3px); 
}

/*ELEMENTS*/
.electric{
    background-color: yellow;
}

.fire{
    background-color: red;
    color: white;
}

.water{
    background-color: aquamarine;
}

.grass{
    background-color: forestgreen;
    color: white;
}

.ice{
    background-color:darkturquoise;
}

.fighting{
    background-color: brown;
    color: white;
}

.fairy{
    background-color:darkorchid;
    color: white;
}

.flying{
    background-color: cornflowerblue;
}

.ghost{
    background-color: indigo;
    color: white;
}

.bug{
    background-color: greenyellow;
}

.ground{
    background-color:saddlebrown;
    color: white;
}

.poison{
    background-color: blueviolet;
    color: white;
}

.psychic{
    background-color: palevioletred;
}

.rock{
    background-color: sienna;
    color: white;
}

.steel{
    background-color: dimgray;
    color: white;
}

.normal{
    background-color: gray;
    color: white;
}
